.container{
    display: block;
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    margin: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.buttons{
    padding: 5px;
    margin: 5px;
    background-color: rgb(26, 207, 83);

}

.buttons:hover{
    background-color: rgb(0, 255, 128);
    color: white;
}

#employeeName {

    height: 30px;
    width: 250px;
    border-radius: 10px;
    margin-left: 10px;
}

#employeeId{ 
    height: 30px; 
    width: 250px; 
    border-radius: 10px; 
    margin-left: 10px;
}

#employeeSalary{ 
    height: 30px; 
    width: 250px; 
    border-radius: 10px; 
   margin-left: 10px; 

} 

#department{ 
height: 30px; 
width: 250px; 
border-radius: 10px; 
margin-left: 10px; 
} 

